Punch in your username or email address and we'll send you a password reset email
<form action="/bxs/forgotpass" method="post">
Username or E-mail: <input type="text" name="identifier" value="<%= data.identifier %>"><br />
<input type="submit" name="submit" value="Send Email">
</form>
