<ul>
  <li><a href="/ln/deposit">Deposit</a></li>
  <li><a href="/ln/withdraw">Withdraw</a></li>
  <li><a href="/bxs/changepass">Change Password</a></li>
  <li><a href="/bxs/logout">Log Out</a></li>
</ul>
