<p id="errorp">&nbsp;
  <% if (data.error) { %>
  <font color="red"><%= data.error %></font>
  <% } %>
</p>

<form action="/bxs/signup" method="post" onSubmit="return checkPassword(this);">
Username: <input type="text" name="username" value="<% if (data.submittedInputs) { %><%= data.submittedInputs.username %><% } %>"><br />
Name:  <input type="text" name="name" value="<% if (data.submittedInputs) { %><%= data.submittedInputs.name %><% } %>"><br />
Password: <input type="password" name="password" value=""><br />
Repeat Password: <input type="password" name="confirmpassword" value=""><br />
Email Address:  <input type="text" name="email" value="<% if (data.submittedInputs) { %><%= data.submittedInputs.email %><% } %>"><br />
<input type="submit" name="submit" value="Sign Up">
</form>
