
Paste in your invoice hash.  Please remember to set the amount of sats in the invoice.
<form action="/ln/withdraw" method="post">
<input type="text" name="request_hash" value="">
<input type="submit" name="Withdraw" value="Withdraw">
</form>
